<!doctype html>
<html class="no-js" lang="en"  xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/head::head}"></div>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        <div th:replace="~{common/common::leftMenus}"></div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div th:replace="~{common/common::centerHead}"></div>
            <!-- End Header -->
            <!--breadcrumbs-->
            <!--end breadcrumbs-->

            <!-- registration -->
            <section class="registration">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="login-register-content">
                            <div class="row collapse borderBottom">
                                <div class="medium-6 large-centered medium-centered">
                                    <div class="page-heading text-center">
                                        <h3>Contact Us</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                                <div class="large-6 columns">
                                    <h4>Contact Details:</h4>
                                    <div class="map">
                                        <img src="http://placehold.it/570x300" alt="map">
                                    </div>
                                    <div class="user-contacts">
                                        <div class="row">
                                            <div class="large-6 medium-6 columns">
                                                <div class="contact-stats">
                                                    <i class="fa fa-map-marker"></i>
                                                    <h6>Office Adrress</h6>
                                                    <p>4088 Station Street Oakland, CA 94612 California, US</p>
                                                </div>
                                            </div>
                                            <div class="large-6 medium-6 columns">
                                                <div class="contact-stats">
                                                    <i class="fa fa-envelope"></i>
                                                    <h6>Email Adrress</h6>
                                                    <p>4onlinesupport@betube.com <br/> information@betube.com</p>
                                                </div>
                                            </div>
                                            <div class="large-6 medium-6 columns">
                                                <div class="contact-stats">
                                                    <i class="fa fa-phone"></i>
                                                    <h6>Phone Numers</h6>
                                                    <p><strong>Office No :</strong> 510-987-2449 <br/> <strong>Fax No : </strong>510-987-2448 </p>
                                                </div>
                                            </div>
                                            <div class="large-6 medium-6 columns">
                                                <!--<div class="contact-stats">
                                                    <i class="fa fa-phone"></i>
                                                    <h6>Social Media</h6>
                                                    <p>
                                                        <a href="#" class="secondary-button"><i class="fa fa-facebook"></i></a>
                                                        <a href="#" class="secondary-button"><i class="fa fa-twitter"></i></a>
                                                        <a href="#" class="secondary-button"><i class="fa fa-google-plus"></i></a>
                                                        <a href="#" class="secondary-button"><i class="fa fa-instagram"></i></a>
                                                        <a href="#" class="secondary-button"><i class="fa fa-vimeo"></i></a>
                                                        <a href="#" class="secondary-button"><i class="fa fa-youtube"></i></a>
                                                    </p>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-6 columns">
                                    <h4>We'd Love to hear from you!</h4>
                                    <div class="register-form">
                                    <form method="post" data-abide novalidate>
                                        <div data-abide-error class="alert callout" style="display: none;">
                                            <p><i class="fa fa-exclamation-triangle"></i> There are some errors in your form.</p>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-label"><i class="fa fa-user"></i></span>
                                            <input class="input-group-field" type="text" placeholder="Enter your name" required>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-label"><i class="fa fa-envelope"></i></span>
                                            <input class="input-group-field" type="email" placeholder="Enter your email" required>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-label"><i class="fa fa-book"></i></span>
                                            <input class="input-group-field" type="text" placeholder="Enter your subject" required>
                                        </div>
                                        <textarea required placeholder="Your message"></textarea>
                                        <button class="button expanded" type="submit" name="submit">register Now</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- footer -->
           <!-- footer -->
            <div th:replace="~{common/common::copy}"></div>
        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->
<div th:replace="~{common/script::scriptFiles}"></div>
</body>
</html>