<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{common/head::head}"></div>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        <div th:replace="~{common/common::leftMenus}"></div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div th:replace="~{common/common::centerHead}"></div>
            <!-- End Header -->
            <!--breadcrumbs-->
            <!--end breadcrumbs-->
            <!-- registration -->
            <section class="registration" style="background:#f0f0f0;">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="login-register-content">
                            <div class="row collapse borderBottom">
                                <div class="medium-6 large-centered medium-centered">
                                    <div class="page-heading text-center">
                                        <h3>User login</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                                <div class="large-4 medium-6 large-centered medium-centered columns">
                                    <div class="register-form">
                                        <h5 class="text-center">Create your Account</h5>
                                        <form method="post" data-abide novalidate>
                                            <div data-abide-error class="alert callout" style="display: none;">
                                                <p><i class="fa fa-exclamation-triangle"></i> There are some errors in your form.</p>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-label"><i class="fa fa-user"></i></span>
                                                <input class="input-group-field" type="text" placeholder="Enter your username" required>
                                                <span class="form-error">username is required</span>
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                                <input type="password" id="password" placeholder="Enter your password" required>
                                                <span class="form-error">password is required</span>
                                            </div>
                                            <div class="checkbox">
                                                <input id="remember" type="checkbox" name="check" value="remember">
                                                <label class="customLabel" for="remember">Remember me</label>
                                            </div>
                                            <button class="button expanded" type="submit" name="submit">login Now</button>
                                            <p class="loginclick"><a href="login-forgot-pass.html">Forgot Password</a> New Here? <a href="login-register">Create a new Account</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- footer -->
           <!-- footer -->
            <div th:replace="~{common/common::copy}"></div>
        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->
<div th:replace="~{common/script::scriptFiles}"></div>
</body>
</html>