<!doctype html>
<html class="no-js" lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common/head::head}"></div>

<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        <div th:replace="~{common/common::leftMenus}"></div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div th:replace="~{common/common::centerHead}"></div>
            <!-- End Header -->
            <!--breadcrumbs-->
            <!--<section id="breadcrumb">
                <div class="row">
                    <div class="large-12 columns">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                <li><a href="profile-page-v2.html">profile</a></li>
                                <li>
                                    <span class="show-for-sr">Current: </span> profile setting
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>--><!--end breadcrumbs-->

            <!-- profile top section -->
            <div th:replace="~{common/profile::banner}"></div>
            <!-- End profile top section -->
            <div class="row">
                <!-- left sidebar -->
                <div th:replace="~{common/profile::leftSideBar}"></div>
                <!-- end sidebar -->
                <!-- right side content area -->
                <div class="large-8 columns profile-inner">
                    <!-- profile settings -->
                    <section class="profile-settings">
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="heading">
                                    <i class="fa fa-gears"></i>
                                    <h4>profile Settings</h4>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="setting-form">
                                            <form method="post">
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">Username Setting:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>First Name:
                                                                <input type="text" placeholder="enter your first name..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Last Name:
                                                                <input type="text" placeholder="enter your last name..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Nick Name:
                                                                <input type="text" placeholder="enter your nick name..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Display Name:
                                                                <input type="text" placeholder="select your display name">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">Update Password:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>New Password:
                                                                <input type="password" placeholder="enter your new password..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Retype Password:
                                                                <input type="password" placeholder="enter your new password..">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">About Me:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Email ID:
                                                                <input type="email" placeholder="enter your email address..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Website URL:
                                                                <input type="url" placeholder="enter your website url..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns end">
                                                            <label>Phone No:
                                                                <input type="tel" placeholder="enter your website url..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-12 columns">
                                                            <label>Bio Description:
                                                                <textarea></textarea>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <div class="row">
                                                        <div class="large-12 columns">
                                                            <h6 class="borderBottom">Social Profile links:</h6>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>facebook:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>twitter:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns end">
                                                            <label>Google Plus:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Youtube:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>vimeo:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns end">
                                                            <label>Pinterest:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                            <label>Instagram:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                        <div class="medium-6 columns end">
                                                            <label>Linkedin:
                                                                <input type="url" placeholder="enter your profile link..">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="setting-form-inner">
                                                    <button class="button expanded" type="submit" name="setting">update now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- End profile settings -->
                </div><!-- end left side content area -->
            </div>

            <!-- footer -->
           <!-- footer -->
            <div th:replace="~{common/common::copy}"></div>
        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->
<div th:replace="~{common/script::scriptFiles}"></div>
</body>
</html>