<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeTube video</title>
    <link rel="stylesheet" href="../static/bootstrap/css/app.css" th:href="@{/bootstrap/css/app.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/theme.css" th:href="@{/bootstrap/css/theme.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/font-awesome.min.css" th:href="@{/bootstrap/css/font-awesome.min.css}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/layerslider/css/layerslider.css" th:href="@{/bootstrap/layerslider/css/layerslider.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/owl.carousel.min.css" th:href="@{/bootstrap/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/owl.theme.default.min.css" th:href="@{/bootstrap/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/jquery.kyco.easyshare.css" th:href="@{/bootstrap/css/jquery.kyco.easyshare.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/responsive.css" th:href="@{/bootstrap/css/responsive.css}">
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!--header-->
        <div th:replace="~{common/common::leftMenus}"></div>
        <!--侧边菜单end-->
        <div class="off-canvas-content" data-off-canvas-content>
            <div th:replace="~{common/common::centerHead}"></div>
            <!-- End Header -->
            <!-- full width Video -->
            <section class="fullwidth-single-video">
                <div class="row">
                    <div class="large-12 columns">
                        <div class="flex-video widescreen">
                            <iframe width="560" height="315" src="https://cn-lnsy-cu-01-06.bilivideo.com/upgcxcode/88/12/25635591288/25635591288-1-16.mp4?e=ig8euxZM2rNcNbRVhwdVhwdlhWdVhwdVhoNvNC8BqJIzNbfq9rVEuxTEnE8L5F6VnEsSTx0vkX8fqJeYTj_lta53NCM=&uipk=5&nbs=1&deadline=1725967117&gen=playurlv2&os=bcache&oi=3707255425&trid=00001b22f8653b1443f396074dc714c667e3h&mid=3494352512879495&platform=html5&og=hw&upsig=3c42246b314ea49cc3d61dcb5b1a17c2&uparams=e,uipk,nbs,deadline,gen,os,oi,trid,mid,platform,og&cdnid=3285&bvc=vod&nettype=0&f=h_0_0&bw=54187&logo=80000000" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <!-- left side content area -->
                <div class="large-12 columns">
                    <!-- single post stats -->
                    <section class="SinglePostStats">
                        <!-- newest video -->
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="media-object stack-for-small">
                                    <div class="media-object-section">
                                        <div class="author-img-sec">
                                            <div class="thumbnail author-single-post">
                                                <a href="#"><img src= "http://placehold.it/80x80" alt="post"></a>
                                            </div>
                                            <p class="text-center"><a href="#">Joseph John</a></p>
                                        </div>
                                    </div>
                                    <div class="media-object-section object-second">
                                        <div class="author-des clearfix">
                                            <div class="post-title">
                                                <h4>There are many variations of passage.</h4>
                                              <!--  <p>
                                                    <span><i class="fa fa-clock-o"></i>5 January 16</span>
                                                    <span><i class="fa fa-eye"></i>1,862K</span>
                                                    <span><i class="fa fa-thumbs-o-up"></i>1,862</span>
                                                    <span><i class="fa fa-thumbs-o-down"></i>180</span>
                                                    <span><i class="fa fa-commenting"></i>8</span>
                                                </p>-->
                                            </div>
                                           <!-- <div class="subscribe">
                                                <form method="post">
                                                    <button type="submit" name="subscribe">Subscribe</button>
                                                </form>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- End single post stats -->

                </div><!-- end left side content area -->
                <!-- sidebar -->
                <!-- end sidebar -->
            </div>

            <!-- footer -->
            <div th:replace="~{common/common::copy}"></div>
        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->
<div th:replace="~{common/script::scriptFiles}"></div>
</body>
</html>