<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeTube video</title>
    <!-- bootstrap -->
   <!-- <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css" th:href="@{/bootstrap/dist/css/bootstrap.min.css}">-->

    <link rel="stylesheet" href="../static/bootstrap/css/app.css" th:href="@{/bootstrap/css/app.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/theme.css" th:href="@{/bootstrap/css/theme.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/font-awesome.min.css" th:href="@{/bootstrap/css/font-awesome.min.css}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/layerslider/css/layerslider.css" th:href="@{/bootstrap/layerslider/css/layerslider.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/owl.carousel.min.css" th:href="@{/bootstrap/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/owl.theme.default.min.css" th:href="@{/bootstrap/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/jquery.kyco.easyshare.css" th:href="@{/bootstrap/css/jquery.kyco.easyshare.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/responsive.css" th:href="@{/bootstrap/css/responsive.css}">
</head>
</html>