<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="banner">
    <section class="topProfile topProfile-inner" style="background: url('/bootstrap/images/profile-bg1.png') no-repeat;">
        <div class="row">
            <div class="large-12 columns">
                <div class="upload-bg">
                    <form method="post">
                        <label for="topfileupload" class="btn-upload"><i class="fa fa-camera"></i><span>update cover image</span></label>
                        <input type="file" id="topfileupload" class="show-for-sr">
                    </form>
                </div>
            </div>
        </div>
        <div class="main-text">
            <div class="row">
                <div class="large-12 columns">
                    <h3>World’s Biggest</h3>
                    <h1>Powerfull Video Theme</h1>
                </div>
            </div>
        </div>
        <div class="profile-stats">
            <div class="row secBg">
                <div class="large-12 columns">
                    <div class="profile-author-img">
                        <img src="http://placehold.it/120x110" alt="profile author img">
                        <form method="post">
                            <label for="imgfileupload" class="btn-upload"><i class="fa fa-camera"></i><span>update Avatar</span></label>
                            <input type="file" id="imgfileupload" class="show-for-sr">
                        </form>
                    </div>
                    <div class="profile-subscribe">
                     <!--   <span><i class="fa fa-users"></i>6</span>
                        <button type="submit" name="subscribe">subscribe</button>-->
                    </div>
                    <div class="profile-share">
                       <!-- <div class="easy-share" data-easyshare data-easyshare-http data-easyshare-url="http://joinwebs.com">
                            &lt;!&ndash; Facebook &ndash;&gt;
                            <button data-easyshare-button="facebook">
                                <span class="fa fa-facebook"></span>
                                <span>Share</span>
                            </button>
                            <span data-easyshare-button-count="facebook">0</span>

                            &lt;!&ndash; Twitter &ndash;&gt;
                            <button data-easyshare-button="twitter" data-easyshare-tweet-text="">
                                <span class="fa fa-twitter"></span>
                                <span>Tweet</span>
                            </button>
                            <span data-easyshare-button-count="twitter">0</span>

                            &lt;!&ndash; Google+ &ndash;&gt;
                            <button data-easyshare-button="google">
                                <span class="fa fa-google-plus"></span>
                                <span>+1</span>
                            </button>
                            <span data-easyshare-button-count="google">0</span>

                            <div data-easyshare-loader>Loading...</div>
                        </div>-->
                    </div>
                    <div class="clearfix">
                        <div class="profile-author-name float-left">
                            <h4>Joseph John</h4>
                            <p>Join Date : <span>5 January 16</span></p>
                        </div>
                        <div class="profile-author-stats float-right">
                            <ul class="menu">
                                <li>
                                    <div class="icon float-left">
                                        <i class="fa fa-video-camera"></i>
                                    </div>
                                    <div class="li-text float-left">
                                        <p class="number-text">36</p>
                                        <span>Videos</span>
                                    </div>
                                </li>
                               <!-- <li>
                                    <div class="icon float-left">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="li-text float-left">
                                        <p class="number-text">50</p>
                                        <span>favorites</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon float-left">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="li-text float-left">
                                        <p class="number-text">6</p>
                                        <span>followers</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon float-left">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                    <div class="li-text float-left">
                                        <p class="number-text">26</p>
                                        <span>comments</span>
                                    </div>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:fragment="leftSideBar">
    <div class="large-4 columns">
        <aside class="secBg sidebar">
            <div class="row">
                <!-- profile overview -->
                <div class="large-12 columns">
                    <div class="widgetBox">
                        <div class="widgetTitle">
                            <h5>Profile Overview</h5>
                        </div>
                        <div class="widgetContent">
                            <ul class="profile-overview">
                                <!--<li class="clearfix"><a href="profile-about-me.html"><i class="fa fa-user"></i>about me</a></li>-->
                                <li class="clearfix"><a href="profile-video"><i class="fa fa-video-camera"></i>Videos <span class="float-right">36</span></a></li>
                              <!--  <li class="clearfix"><a href="profile-favorite.html"><i class="fa fa-heart"></i>Favorite Videos<span class="float-right">50</span></a></li>-->
                              <!--  <li class="clearfix"><a href="profile-followers.html"><i class="fa fa-users"></i>Followers<span class="float-right">6</span></a></li>-->
                                <!--<li class="clearfix"><a href="profile-comments.html"><i class="fa fa-comments-o"></i>comments<span class="float-right">26</span></a></li>-->
                                <li class="clearfix"><a class="active" href="#"><i class="fa fa-gears"></i>Profile Settings</a></li>
                                <li class="clearfix"><a href="index"><i class="fa fa-sign-out"></i>Logout</a></li>
                            </ul>
                            <a href="submit-post" class="button"><i class="fa fa-plus-circle"></i>Submit Video</a>
                        </div>
                    </div>
                </div><!-- End profile overview -->
            </div>
        </aside>
    </div>
</div>


</html>