<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="scriptFiles">

<script src="../static/bootstrap/bower_components/jquery/dist/jquery.js" th:src="@{/bootstrap/bower_components/jquery/dist/jquery.js}"></js-script>
<script src="../static/bootstrap/bower_components/what-input/what-input.js" th:src="@{/bootstrap/bower_components/what-input/what-input.min.js}"></script>
<script src="../static/bootstrap/bower_components/foundation-sites/dist/foundation.js" th:src="@{/bootstrap/bower_components/foundation-sites/dist/foundation.js}"></script>
<script src="../static/bootstrap/js/jquery.showmore.src.js" th:src="@{/bootstrap/js/jquery.showmore.src.js}" type="text/javascript"></script>
<script src="../static/bootstrap/js/app.js" th:src="@{/bootstrap/js/app.js}"></script>
<script src="../static/bootstrap/layerslider/js/greensock.js" th:src="@{/bootstrap/layerslider/js/greensock.js}" type="text/javascript"></script>

<!-- LayerSlider script files -->
<script src="../static/bootstrap/layerslider/js/layerslider.transitions.js" th:src="@{/bootstrap/layerslider/js/layerslider.transitions.js}" type="text/javascript"></script>
<script src="../static/bootstrap/layerslider/js/layerslider.kreaturamedia.jquery.js" th:src="@{/bootstrap/layerslider/js/layerslider.kreaturamedia.jquery.js}" type="text/javascript"></script>
<script src="../static/bootstrap/js/owl.carousel.min.js" th:src="@{/bootstrap/js/owl.carousel.min.js}"></script>
<script src="../static/bootstrap/js/inewsticker.js" th:src="@{/bootstrap/js/inewsticker.js}" type="text/javascript"></script>
<!--<script src="../static/bootstrap/js/jquery.kyco.easyshare.js" th:src="@{/bootstrap/js/jquery.kyco.easyshare.js}" type="text/javascript"></script>-->
<!-- bootstrap -->
<script src="../static/bootstrap/dist/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/dist/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

</div>
</html>